In [1]:
import pandas as pd
data = pd.read_csv('data/data.csv')
data.head()

,title,href,last_work_place,match_count,all_jobs,citizenship
0,Junior Frontend-разработчик,https://hh.ru/resume/07563c8f00082331ff0039ed1...,ЗАО Бизнес Технолоджи,0,['ЗАО Бизнес Технолоджи' 'Помощник программис...,Россия
1,Frontend developer,https://hh.ru/resume/66acffbd0003e82c2b0039ed1...,Glo Academy,2,['Glo Academy' 'JavaScript Developer (Учебные...,Россия
2,Security engineer,https://hh.ru/resume/c86ab9490007eabbe90039ed1...,Digital Security,0,['Digital Security' 'Стажер'],Россия
3,HTML-верстальщик,https://hh.ru/resume/1c3c282600081d97000039ed1...,Tранснефть,0,['Tранснефть' 'Младший аналитик'],Россия
4,Frontend-разработчик,https://hh.ru/resume/21f749bb00058c181b0039ed1...,Удаленная работа в США,2,['Удаленная работа в США' 'Frontend-разработч...,Россия

In [2]:
data.columns

Index(['title', 'href', 'last_work_place', 'match_count', 'all_jobs',
       ' citizenship'],
      dtype='object')

In [1]:
data.href

NameError: name 'data' is not defined

In [ ]:
import pandas as pd
import datetime
from configparser import ConfigParser
import sys
import numpy as np
import os

file = str(sys.argv[1])  # 'java.ini'
file_name = file[:-4]
config = ConfigParser()
config.read(file)
auth_status = config['parametrs']['auth_status']  # int(input("Do you want login? (1-yes, null -no): "))

auth = ''
if auth_status == '1':
    auth = 'auth'
    # print("OK")
current_datetime = str(datetime.datetime.now())
time = str(datetime.datetime.now().time())
time_str = time[0:2] + time[3:5]
current_day = current_datetime[0:4] + current_datetime[5:7] + current_datetime[8:11] + time_str

data = pd.read_csv('data/data.csv')
data["href"] = 'https://hh.ru' + data["href"]
count_company = data["last_work_place"].value_counts()
df_count_company = pd.DataFrame({'last_work_place': count_company.index, 'count': count_company.values})
df_count_company = df_count_company[
    df_count_company.last_work_place != 'Индивидуальное предпринимательство / частная практика / фриланс']
df_count_company = df_count_company[df_count_company.last_work_place != 'фриланс']
df_count_company = df_count_company[df_count_company.last_work_place != 'Фриланс']
df_count_company = df_count_company[df_count_company.last_work_place != "Freelance"]
df_count_company = df_count_company[df_count_company.last_work_place != "-"]

df_count_company.to_csv('resume/{}_{}_count_company_{}.csv'.format(file_name, current_day, auth), sep=';', index=False,
                        encoding='utf-8-sig')

data_with_count = data.set_index('last_work_place').join(df_count_company.set_index('last_work_place'))
sorted_data = data_with_count.sort_values(by=["count"], ascending=False)
sorted_data.drop(["Индивидуальное предпринимательство / частная практика / фриланс"], inplace=True, errors='ignore')
sorted_data.drop(["Фриланс"], inplace=True, errors='ignore')
sorted_data.drop(["Freelance"], inplace=True, errors='ignore')
sorted_data.drop(["фриланс"], inplace=True, errors='ignore')

sorted_data.reset_index(inplace=True)
sorted_data = sorted_data.fillna(0)
sorted_data["count"] = sorted_data["count"].astype(int)
query_len = len(config['parametrs']['search_text']) + 40
sorted_data["href"] = sorted_data["href"].astype(str).str[0:59].astype(np.str)
sorted_data.to_csv('resume/{}_{}_data_sort_{}.csv'.format(file_name, current_day, auth), sep=';', index=False,
                   encoding='utf-8-sig')
# os.remove("data/data.json")
# print(auth)

In [37]:
import pandas as pd
data = pd.read_csv('data/data.csv')
data["href"] = 'https://hh.ru' + data["href"]
count_company = data["last_work_place"].value_counts()
df_count_company = pd.DataFrame({'last_work_place': count_company.index, 'count': count_company.values})
df_count_company = df_count_company[
    df_count_company.last_work_place != 'Индивидуальное предпринимательство / частная практика / фриланс']
df_count_company = df_count_company[df_count_company.last_work_place != 'фриланс']
df_count_company = df_count_company[df_count_company.last_work_place != 'Фриланс']
df_count_company = df_count_company[df_count_company.last_work_place != "Freelance"]
df_count_company = df_count_company[df_count_company.last_work_place != "None"]
df_count_company.head()

          last_work_place  count
0   ЗАО Бизнес Технолоджи      1
1  Удаленная работа в США      1
2              SamiSusami      1
3                    RASA      1

In [38]:
import numpy as np
data_with_count = data.set_index('last_work_place').join(df_count_company.set_index('last_work_place'))
sorted_data = data_with_count.sort_values(by=["count"], ascending=False)
sorted_data.drop(["Индивидуальное предпринимательство / частная практика / фриланс"], inplace=True, errors='ignore')
sorted_data.drop(["Фриланс"], inplace=True, errors='ignore')
sorted_data.drop(["Freelance"], inplace=True, errors='ignore')
sorted_data.drop(["фриланс"], inplace=True, errors='ignore')
sorted_data.drop(["None"], inplace=True, errors='ignore')
sorted_data = sorted_data[(sorted_data.citizenship == 'Россия') | (sorted_data.citizenship == 'Белaрусь') ]
#sorted_data_Belorus = sorted_data[sorted_data.citizenship == 'Белорусь']

sorted_data.reset_index(inplace=True)
sorted_data = sorted_data.fillna(0)
sorted_data["count"] = sorted_data["count"].astype(int)
sorted_data = sorted_data[sorted_data.match_count != 0]
sorted_data = sorted_data[sorted_data['all_jobs'].str.contains("")]

#sorted_data = sorted_data[sorted_data.eq(var1).any(1)]
sorted_data["href"] = sorted_data["href"].astype(str).str[0:59].astype(np.str)
sorted_data.head()

,last_work_place,title,href,match_count,all_jobs,citizenship,count
1,RASA,Программист PHP,https://hh.ruhttps://hh.ru/resume/e6b23c4c0008...,1,RASA PHP-программист,Россия,1
2,ЗАО Бизнес Технолоджи,Junior Frontend-разработчик,https://hh.ruhttps://hh.ru/resume/07563c8f0008...,1,ЗАО Бизнес Технолоджи Помощник программиста,Россия,1
3,Удаленная работа в США,Frontend-разработчик,https://hh.ruhttps://hh.ru/resume/21f749bb0005...,3,Удаленная работа в США Frontend-разработчик,Россия,1

In [22]:
s = 'DfaRAAhbcjs'
s.find('RASA')
#s.isin(['RASA'])

-1

In [3]:
sorted_data.columns

Index(['title', 'href', 'match_count', 'all_jobs', 'citizenship', 'count'], dtype='object')